<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MySql.TrayApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MySql.TrayApp.Properties.Settings>
            <setting name="EnableAutoRefresh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoRefreshType" serializeAs="String">
                <value>OnDemand</value>
            </setting>
            <setting name="AutoRefreshFrequency" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoRefreshNotifyChanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RefreshMethod" serializeAs="String">
                <value>Soft</value>
            </setting>
            <setting name="ScanForServicesType" serializeAs="String">
                <value>StartsWith</value>
            </setting>
            <setting name="ServicesStartWith" serializeAs="String">
                <value>MYSQL</value>
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckForUpdatesFrequency" serializeAs="String">
                <value>4</value>
            </setting>
        </MySql.TrayApp.Properties.Settings>
    </userSettings>
</configuration>