<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MySql.TrayApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MySql.TrayApp.Properties.Settings>
            <setting name="CheckForUpdatesFrequency" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AutoAddServicesToMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOfAutoServiceAddition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoAddPattern" serializeAs="String">
                <value>.*mysqld.*</value>
            </setting>
            <setting name="NotifyOfStatusChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServiceSettingsList" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateCheck" serializeAs="String">
                <value>0</value>
            </setting>
        </MySql.TrayApp.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
