<?xml version="1.0" encoding="UTF-8"?>
<?define ProductName="MySQL Notifier $(var.Version)"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product Name="$(var.ProductName)" Id ="*" Manufacturer="Oracle" Language="1033" Version="$(var.Version)"
           UpgradeCode="9e9fb57a-62e3-45cf-a896-686e33407606">
    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated"/>

    <Property Id="ARPURLINFOABOUT" Value="http://www.mysql.com" />
    <Property Id="ARPURLUPDATEINFO" Value="http://dev.mysql.com"/>

    <Upgrade Id="9e9fb57a-62e3-45cf-a896-686e33407606">
      <UpgradeVersion OnlyDetect="yes" Minimum="$(var.Version)" Property="NEWERVERSIONDETECTED" IncludeMinimum="no" />
      <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" Minimum="1.0.0" IncludeMinimum="yes" Maximum="$(var.Version)" IncludeMaximum="no" />
    </Upgrade>

    <Media Id="1" Cabinet="MySqlNotifier.cab" EmbedCab="yes" CompressionLevel="high"/>

    <Condition Message="You must have Administrative rights on this machine to install [ProductName].">
      <![CDATA[ Privileged  ]]>
    </Condition>

    <!-- Do not install if a newer version is already installed. -->
    <Condition Message="A later version of [ProductName] is already installed. Setup will now exit.">
      NOT NEWERVERSIONDETECTED OR Installed
    </Condition>

    <!-- First make sure that .NET is installed -->
    <PropertyRef Id="NETFRAMEWORK40CLIENT"/>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.  For more information, please see http://go.microsoft.com/fwlink/?LinkId=181012">
      <![CDATA[Installed OR NETFRAMEWORK40FULL OR NETFRAMEWORK40CLIENT]]>
    </Condition>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name='PFiles'>
        <Directory Id='CompanyDir' Name='MySQL'>
          <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
            <Component Id='MainExecutable' Guid='1e9fb57a-62e3-45cf-a896-686e33407606'>
              <File Id='MySqlNotifierEXE' Name='MySQLNotifier.exe' Source='..\Source\bin\Release\MySqlNotifier.exe' Vital='yes' />
              <File Id='MySQLUtilityDll' Name='MySQL.Utility.dll' Source='..\Source\Lib\MySQL.Utility.dll' Vital='yes' />
              <File Id='MySqlDataDll' Name='MySql.Data.dll' Source='..\Source\Lib\MySql.Data.dll' Vital='yes' />
              <File Id='ReleaseNotes' Name='Release Notes.txt' Source='Release Notes.txt'/>
              <?if $(var.IsGPL) = 1?>
              <File Id='ReadMe' Name='README' Source='README'/>
              <File Id="COPYING" Name="COPYING" Source="COPYING" DiskId="1" />
              <?else?>
              <File Id="README2" Name="README" Source="README-Commercial" DiskId="1"/>
              <File Id="LICENSE" Name="LICENSE" Source="LICENSE" DiskId="1" />
              <?endif?>
              <RemoveFolder Id="INSTALLDIR" On="uninstall" />
            </Component>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="PMFolder">
        <Directory Id='PMCompanyDir' Name='MySQL'>
          <Directory Id="ShortCutDir" Name="$(var.ProductName)"/>
        </Directory>
      </Directory>

    </Directory>

    <DirectoryRef Id="ShortCutDir">
      <Component Id="ProgramMenuShortcutsComponent" Guid="1e9fb57a-62e3-45cf-a896-686e33407610">
        <CreateFolder Directory="PMCompanyDir" />
        <CreateFolder Directory="ShortCutDir" />
        <RemoveFolder Id="RemovePMCompanyDir" Directory="PMCompanyDir" On="uninstall" />
        <RemoveFolder Id="RemoveShortCutDir"  Directory="ShortCutDir" On="uninstall"/>
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.ProductName)" Description="MySQL Notifier" Target="[INSTALLDIR]MySqlNotifier.exe" WorkingDirectory="INSTALLDIR"/>
        <RegistryValue Root="HKCU" Key="Software\MySQL AB\[ProductName]" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <RegistryValue Root="HKCU" Key="Software\MySQL AB\[ProductName]" Name="location" Type="string" Value="[INSTALLDIR]"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="MySQL Notifier" Type="string" Value="[INSTALLDIR]MySqlNotifier.exe"/>
      </Component>
    </DirectoryRef>

    <Feature Id="Complete" Level="1" Title="MySQL Notifier">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="ProgramMenuShortcutsComponent"/>
    </Feature>

    <Property Id="LAUNCHAPPONEXIT" Value="1"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="ARPPRODUCTICON" Value="Notifier.ico" />
    <UIRef Id="WixUI_InstallDirNoLicense" />
    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps/BannrBmp.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps/DlgBmp.bmp"/>
    <Icon Id="Notifier.ico" SourceFile="app_default.ico" />
    <Property Id="QtExecCmdLine" Value='"[WindowsFolder]\System32\taskkill.exe" /F /IM MySQLNotifier.exe'/>

    <InstallExecuteSequence>
      <Custom Action="RemoveScheduledTask" Before="RemoveFiles">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <RemoveExistingProducts After="InstallValidate" />
      <Custom Action="LaunchApplication" After="InstallFinalize">NOT (REMOVE="ALL")</Custom>
      <Custom Action="WixCloseApplications" After="InstallValidate" />
      <Custom Action="MySQLNotifier.TaskKill" Before="InstallValidate" />
    </InstallExecuteSequence>

    <CustomAction Id="MySQLNotifier.TaskKill" Return="ignore" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate"/>
    <CustomAction Id="LaunchApplication" FileKey="MySqlNotifierEXE" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
    <CustomAction Id="RemoveScheduledTask" Return="ignore"  Directory="ProgramFilesFolder"  ExeCommand= "schtasks /delete /tn MySQLNotifierTask /f " />
    <util:CloseApplication Id="CloseNotifier" Target="MySqlNotifier.exe" RebootPrompt="no" CloseMessage="yes" />

  </Product>
</Wix>
